# Video Game Sales Prediction Model using Python

Video game sales analysis is a popular problem statement on Kaggle. We can work on this problem to analyze the sales of more than 16,500 games or we can also train a machine learning model for forecasting video game sales. So if we want to learn how to train a video game sales prediction model, this article is appropriate for us. In this article, we’ll walk along a machine learning task on training a video game sales prediction model using Python.

The dataset I’m using for this task contains a list of video games and their sales. Let’s start this task by importing the necessary Python libraries and the dataset:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


data = pd.read_csv("vgsales.csv")
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.0,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.0,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.0,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.0,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.0,0.01,0.77

Now let’s see if this dataset contains null values:

In [2]:
print(data.isnull().sum())

Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       36
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

Now I’m going to create a new dataset removing the null values:

In [3]:
data = data.dropna()

Before we train the model, let’s take a look at the top 10 best-selling game categories: